mixin button(text, classNameIcon, classNameBtn)
	.filters__button
		button.btn(type="button" class=classNameBtn)
			if classNameIcon
				i(class=classNameIcon) 
			| #{text}
mixin btnBlue(text, classNameIcon, classNameBtn, id)
	if id
		- const attributesObj = {"data-bs-toggle": "modal", "data-bs-target": `${id}`}
		button.btn.btn-blue.btn-primary(type="button" class=classNameBtn)&attributes(attributesObj)
			if classNameIcon
				i(class=classNameIcon) 
			| #{text}
	else 
		button.btn.btn-blue.btn-primary(type="button" class=classNameBtn)
			if classNameIcon
				i(class=classNameIcon) 
			| #{text}
mixin tableBtn(tooltipTitle, btnClass, iconClass)
	button(type="button" data-bs-toggle="tooltip" title=tooltipTitle class=btnClass)
		i(class=iconClass)
