mixin fieldItem(labelName, inputType = "text", inputName, required)
	.field-group__item
		label.field-group__label(class=required ? "required" : "")!= labelName
		.field-group__box
			if required
				input(type=`${inputType == null ? "text" : inputType}` name=inputName class="field-group__input" required)
			else 
				input(type=`${inputType == null ? "text" : inputType}` name=inputName class="field-group__input")
		if block 
			block
mixin date(labelName, inputType = "text", inputName, required)
	.field-group__item(id=itemId)
		label.field-group__label(class=required ? "required" : "")= labelName
		.field-group__box
			if required
				input(type=inputType name=inputName class="field-group__input" required)
			else 
				input(type=inputType name=inputName class="field-group__input")
			.field-group__trigger
				i(class="fa-regular fa-calendar-days calendar-icon")
				input(type="text" class='input-trigger' data-id=inputName)
mixin select(labelName, selectName, selectId, [...items], required)
	.field-group__item
		label.field-group__label(class=required ? "required" : "")= labelName
		select(name=selectName class="select-choices" id=selectId)&attributes({required: required != null})
			option(value="" selected)
			each item, index in items 
				option(value=item.value)= item.name 
mixin dropdownList([...items])
	ul.dropdown-menu
		each item, index in items
			li.dropdown_item= item
mixin checkboxGroup(label)
	.checkbox-group 
		.checkbox-group__label.field-group__label= label
		if block 
			block
mixin checkbox(text, inputName)
	.checkbox
		label
			input(type="checkbox" class="checkbox__input" name=inputName)
			span.checkbox__label= text
